/* global styles */

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
}

/* LOGIN PAGE */
#login-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.login-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-left {
  background-color: rgb(0, 0, 0);
}

.login-left h1 {
  font-size: 40px;
  color: white;
}

.login-right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* login form */

.login-form {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form .heading {
  font-size: 20px;
  font-weight: bold;
}

.login-form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.login-form ul li {
  margin: 10px 0;
}

.login-form li {
  display: flex;
  justify-content: space-between;
}

/* REGISTER PAGE */

/* all styles in login page apply here with a few extras */

.login-form a {
  text-decoration: none;
  color: black;
}
