{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% if title %}
    <title>Smart Pharmacist | {{ title }}</title>
    {% else %}
    <title>Smart Pharmacist</title>
    {% endif %}
    {% tailwind_css %}
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  {% block body %}

  <body class="min-h-screen flex  dark:bg-zinc-700">
    <!-- main contaiiner -->
    <section class="flex flex-1 items-center justify-center p-5 sm:p-0">
      <!-- black background with logo -->
      <div
        class="w-full h-full hidden xl:flex xl:flex-col items-center justify-center bg-zinc-950"
      >
        <h1 class="text-white text-[48px] font-extrabold">Smart Pharmacist</h1>
      </div>
      <!-- forms go here -->
      {% block content%} {% endblock content %}
    </section>
  </body>

  {% endblock body %}
</html>
