{% extends "core/base.html" %} {% block content %}
<!-- quick prescription form -->
<div class="h-full flex flex-col flex-initial">
  <form action="#" method="post">
    <p class="text-xl text-zinc-900 font-bold py-3 dark:text-zinc-50">Quick prescription</p>
    <label for="diagnosis" class="block mb-2 text-sm font-medium text-zinc-900 dark:text-zinc-300"
      >Diagnosis</label
    >
    <div class="my-3">
      <input
        type="text"
        id="diagnosis"
        name="diagnosis_name"
        class="bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg focus:ring-zinc-500 focus:border-zinc-500 block w-full p-2.5 dark:bg-zinc-700 dark:border-zinc-600 dark:placeholder-zinc-400 dark:text-white dark:focus:ring-zinc-500 dark:focus:border-zinc-500"
      />
    </div>

    <div>
      <label
        for="patient-select"
        class="block mb-2 text-sm font-medium text-zinc-900 dark:text-zinc-300"
        for="patient-menu"
        >Select a patient</label
      >
      <div class="my-3">
        <select
          class="bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg focus:ring-zinc-500 focus:border-zinc-500 block w-full p-2.5 dark:bg-zinc-700 dark:border-zinc-600 dark:placeholder-zinc-400 dark:text-white dark:focus:ring-zinc-500 dark:focus:border-zinc-500"
          name="patients"
          id="patient-menu"
        >
          <option value="generic">--choose a patient--</option>
          <option value="Khumbo">Khumbo</option>
          <option value="Victor">Victor</option>
        </select>
      </div>
    </div>
    <div>
      <label
        for="dosage-select"
        class="block mb-2 text-sm font-medium text-zinc-900 dark:text-zinc-300"
        for="dosage-select"
        >Select a dosage</label
      >
      <div class="my-3">
        <select
          class="bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg focus:ring-zinc-500 focus:border-zinc-500 block w-full p-2.5 dark:bg-zinc-700 dark:border-zinc-600 dark:placeholder-zinc-400 dark:text-white dark:focus:ring-zinc-500 dark:focus:border-zinc-500"
          name="dosages"
          id="dosage-select"
        >
          <option value="">--choose a dosage--</option>
          <option value="panado">Panado 20T</option>
          <option value="aspirin">Aspirin 20T</option>
        </select>
      </div>
    </div>
    <button
      type="button"
      class="text-white bg-zinc-800 hover:bg-zinc-900 focus:outline-none focus:ring-4 focus:ring-zinc-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-zinc-800 dark:hover:bg-zinc-900 dark:focus:ring-zinc-700 dark:border-zinc-700 transition"
    >
      Submit
    </button>
  </form>
</div>
<!-- quick prescription view -->
<!-- placeholder data -->
<div class= "relative overflow-x-auto">
  <p class="text-xl font-bold py-3 text-zinc-900 dark:text-zinc-50">Recent Prescriptions</p>
  <p class="mb-3 text-zinc-900 dark:text-zinc-200">All assigned prescriptions appear here.</p>
  <table class="table-auto w-full">
    <thead>
      <tr>
        <th class="text-zinc-900 dark:text-zinc-300 border-y-2 border-collapse border-zinc-400 p-3">
          Prescription ID
        </th>
        <th class="text-zinc-900 dark:text-zinc-300 border-y-2 border-collapse border-zinc-400 p-3">
          Patient ID
        </th>
        <th class="text-zinc-900 dark:text-zinc-300 border-y-2 border-collapse border-zinc-400 p-3">
          Doctor ID
        </th>
        <th class="text-zinc-900 dark:text-zinc-300 border-y-2 border-collapse border-zinc-400 p-3">
          Prescription code
        </th>
        <th class="text-zinc-900 dark:text-zinc-300 border-y-2 border-collapse border-zinc-400 p-3">
          Diagnosis
        </th>
        <th class="text-zinc-900 dark:text-zinc-300 border-y-2 border-collapse border-zinc-400 p-3">
          Date created
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-zinc-900 dark:text-zinc-300 border-y-2 border-collapse border-zinc-400 p-3">0001</td>
        <td class="text-zinc-900 dark:text-zinc-300 border-y-2 border-collapse border-zinc-400 p-3">0000001</td>
        <td class="text-zinc-900 dark:text-zinc-300 border-y-2 border-collapse border-zinc-400 p-3">001</td>
        <td class="text-zinc-900 dark:text-zinc-300 border-y-2 border-collapse border-zinc-400 p-3">123456</td>
        <td class="text-zinc-900 dark:text-zinc-300 border-y-2 border-collapse border-zinc-400 p-3">Malaria</td>
        <td class="text-zinc-900 dark:text-zinc-300 border-y-2 border-collapse border-zinc-400 p-3">
          16-7-2024
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock content%}
