{% extends "core/base.html" %} {% block content %}
<!--  prescription view -->
<!-- placeholder data -->
<div class="flex-initial relative overflow-x-auto">
  <p class="text-xl font-bold py-3">Prescriptions</p>
  <p class="mb-3">All assigned prescriptions appear here.</p>
  <table class="table-auto">
    <thead>
      <tr>
        <th class="border-y-2 border-collapse border-zinc-200 p-3">
          Prescription ID
        </th>
        <th class="border-y-2 border-collapse border-zinc-200 p-3">
          Patient ID
        </th>
        <th class="border-y-2 border-collapse border-zinc-200 p-3">
          Doctor ID
        </th>
        <th class="border-y-2 border-collapse border-zinc-200 p-3">
          Prescription code
        </th>
        <th class="border-y-2 border-collapse border-zinc-200 p-3">
          Diagnosis
        </th>
        <th class="border-y-2 border-collapse border-zinc-200 p-3">
          Date created
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">0001</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">0000001</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">001</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">123456</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">Malaria</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">
          16-7-2024
        </td>
      </tr>
      <tr>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">0001</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">0000001</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">001</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">123456</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">Malaria</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">
          16-7-2024
        </td>
      </tr>
      <tr>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">0001</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">0000001</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">001</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">123456</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">Malaria</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">
          16-7-2024
        </td>
      </tr>
      <tr>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">0001</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">0000001</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">001</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">123456</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">Malaria</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">
          16-7-2024
        </td>
      </tr>
      <tr>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">0001</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">0000001</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">001</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">123456</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">Malaria</td>
        <td class="border-y-2 border-collapse border-zinc-200 p-3">
          16-7-2024
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock content%}
