{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% if title %}
    <title>Smart Pharmacist | {{ title }}</title>
    {% else %}
    <title>Smart Pharmacist</title>
    {% endif %}

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    {% tailwind_css %}
  </head>
  {% block body %}

  <body
    class="flex flex-col min-h-screen max-w-5xl mx-auto p-6 sm:p-5 md:p-4 dark:bg-zinc-700"
  >
    <!-- header section -->

    <nav class="bg-white border-zinc-200 dark:bg-zinc-700">
      <ul class="flex flex-wrap items-center justify-between">
        <li>
          <a
            href="{% url 'home' %}"
            class="self-center text-lg sm:text-[32px] font-extrabold whitespace-nowrap hover:text-zinc-700 dark:text-zinc-50 dark:hover:text-zinc-400 transition"
          >
            Smart Pharmacist
          </a>
        </li>
        <li>
          <form id="logoutForm" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button
              type="submit"
              class="text-lg sm:text-xl text-zinc-800 hover:text-zinc-900 dark:text-zinc-50 dark:hover:text-zinc-400 transition"
            >
              logout
            </button>
          </form>
        </li>
      </ul>
    </nav>

    <!-- body -->
    <div class="flex flex-1 flex-col">
      <!-- quick navigation links -->
      <div>
        <p class="text-xl text-zinc-900 font-bold py-3 dark:text-zinc-50">
          Quick actions
        </p>
        <ul>
          <li class="my-2">
            <a
              href="{% url 'home' %}"
              class="text-zinc-900 hover:text-zinc-600 dark:text-zinc-50 dark:hover:text-zinc-400 transition"
              >Go Home</a
            >
          </li>
          <li class="my-2">
            <a
              href="{% url 'new-medication' %}"
              class="text-zinc-900 hover:text-zinc-600 dark:text-zinc-50 dark:hover:text-zinc-400 transition"
              >Create New Medication</a
            >
          </li>
          <li class="my-2">
            <a
              href="{% url 'new-patient' %}"
              class="text-zinc-900 hover:text-zinc-600 dark:text-zinc-50 dark:hover:text-zinc-400 transition"
              >Create New Patient</a
            >
          </li>
        </ul>
      </div>
      <!-- main content area -->
      {% block content %} {% endblock content %}
    </div>
    <!-- footer -->
    <div
      class="flex items-center justify-center h-14 text-zinc-400 dark:text-zinc-300 font-semibold"
    >
      Smart Pharmacist 2024
    </div>
  </body>

  {% endblock body %}
</html>
